{% load static %}

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Blog do Maik{% endblock %}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap">
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
</head>
<body>
	<header>
		<h1><a href="/" onclick="window.scrollTo(0, 0);">Blog do Maik</a></h1>
		<nav class="menu">
			<ul>
				<li><a href="/" onclick="window.scrollTo(0, 0);">Home</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url 'post_draft_list' %}" class="top-menu">Rascunhos</a></li>
				<li><a href="{% url 'post_new' %}" class="top-menu">+ Publicação</a></li>
                <li><a href="{% url 'logout' %}" class="top-menu">Sair</a></li>
                <li><span class="top-menu">Olá {{ user.username }}!</span></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="top-menu">Entrar</a></li>
                {% endif %}
				<li><a href="{% url 'sugestao' %}">Sugestão</a></li>
				<li><a href="{% url 'sobre' %}">Sobre</a></li>
			</ul>
		</nav>
	</header>
	<main class="container">
		{% block content %}
		{% endblock %}
	</main>
	<footer>
		<p></p>
	</footer>
	<script src="{% static 'js/blog.js' %}"></script>
</body>
</html>
