{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap">
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
</head>
<body>
	<header>
		<h1><a href="/" onclick="window.scrollTo(0, 0);">Blog do Maik</a></h1>
		<nav class="menu">
    <ul>
        <li><a href="/" onclick="window.scrollTo(0, 0);">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'post_new' %}" class="top-menu">+ Publicação</span></a></li>
        {% endif %}
        <li><a href="https://forms.gle/3sLs1JKfgPDgtwyf7">Sugestão</a></li>
        <li><a href="{% url 'sobre' %}">Sobre</a></li>
    </ul>
</nav>
	</header>
	<main class="container">
		{% block content %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|linebreaksbr }}</p>
            {% if post.published_date %}
            <div class="date">
                Publicado em {{ post.published_date }} por {{ post.author }}
            </div>
            {% endif %}
            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-default">Ler Mais</a>
        </div>
        {% endblock %}
	</main>
	<footer>
		<p></p>
	</footer>
	<script src="{% static 'js/blog.js' %}"></script>
</body>
</html>
