{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <div class="post-image">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 100px; height: 100px; border-radius: 50%;">
            {% else %}
                <div class="default-image"></div>
            {% endif %}
        </div>
        <div class="post-content">
            <div class="post-info">
                Publicado em {{ post.published_date }} por Maik
            </div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|safe|linebreaksbr|truncatewords_html:40 }}</p>
            <div class="post-footer">
                <a href="{% url 'post_detail' pk=post.pk %}" class="custom-btn btn-sm custom-btn">Ler Mais</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
