{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/comment.css' %}">

<div class="container my-5">
    <div class="row">

        <div class="col-md-8 mx-auto">
            <div class="mt-2">
                <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-secondary me-2">Editar</a>
                <a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-danger">Excluir</a>
            </div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|safe|linebreaksbr }}</p>
            {% if user.is_authenticated %}
            {% if not post.published_date %}
            {% if post.created_date %}
            <div class="mt-4 text-muted">
                Criado em {{ post.created_date|date:"d/m/Y" }} às {{ post.created_date|date:"H:i" }}
            </div>
            {% endif %}
            {% else %}
            {% if post.published_date %}
            <div class="card-footer text-muted">
                Publicado em {{ post.published_date }} por {{ request.user.username }}
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
            <hr>
            <h3>Deixe seu comentário :)</h3>
            <form method="post" class="comment-form">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary my-3">Adicionar comentário</button>
            </form>
            <hr>
            <div class="row">
                <div class="col">
                    <h3>Comentários:</h3>
                    {% for comment in post.comments.all %}
                    {% if comment.approved_comment %}
                    <div class="card my-3">
                        <div class="card-header">
                            {{ comment.Autor }}
                            <span class="text-muted">{{ comment.created_date }}</span>
                        </div>
                        <div class="card-body">
                            {{ comment.Comentário|linebreaks }}
                        </div>
                    </div>
                    {% endif %}
                    {% empty %}
                    <p>Sem comentários ainda.</p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
