{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'post_edit' pk=post.pk %}" class="custom-btn custom-btn-secondary">Editar</a>
<a href="{% url 'post_remove' pk=post.pk %}" class="custom-btn custom-btn-secondary">Excluir</a>
{% endif %}
<h2>Título: {{ post.title }}</h2>
<p>Postagem: {{ post.text|safe|linebreaksbr }}</p>
{% if user.is_authenticated %}
{% if not post.published_date %}
{% if post.created_date %}
<div class="date">
    Criado em {{ post.created_date|date:"d/m/Y" }} às {{ post.created_date|date:"H:i" }}
</div>
{% endif %}
{% else %}
{% if post.published_date %}
<div class="date">
    Publicado em {{ post.published_date|date:"d/m/Y" }} às {{ post.published_date|date:"H:i" }} por {{ post.author }}
</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
