{% extends 'blog/base.html' %}
{% block content %}
  <h2>Sobre</h2>
  <p>O blog que você está visitando foi desenvolvido por mim, Maik Douglas Ferreira, como parte de um projeto universitário da Faculdade IFTO de Paraíso do Tocantins. O objetivo do projeto foi aprender e aplicar conceitos de programação web utilizando a linguagem Python e o framework Django. Durante o desenvolvimento deste projeto, também adquiri conhecimentos sobre o uso do Git e GitHub para controle de versão do código fonte.</p>
{% endblock %}