/* CSS para o corpo do site */
.blog-body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* CSS para o topo do site */
.blog-header {
  background-color: #1b1f25;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* CSS para o título do site */
.blog-title {
  margin: 0;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
}

/* CSS para o menu do site */
.blog-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  margin: 0;
  padding: 0;
}

.menu-item a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.menu-item a:hover {
  background-color: rgba(255,255,255,0.2);
}

.admin-menu-item {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.admin-menu-item:hover {
  background-color: rgba(255,255,255,0.2);
}

/* CSS para o conteúdo */
.blog-container {
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 10px;
}

/* CSS para o rodapé do site */
.blog-footer {
  background-color: #1b1f25;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.hello-text {
  color: blue;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/* CSS para o titulo do site */
.blog-name {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* CSS para o titulo do site */
.blog-name a {
  color: #ffff;
  text-decoration: none;
}

/* CSS para o login do site */
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

form {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background: #2980b9;
}

.error-message {
  color: #f00;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.post-form {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    resize: none;
    font-size: 24px;
    line-height: 1.5;
    font-family: sans-serif;

}

.post-form textarea {
  width: 102%;
  height: 300px;
}

.default-image {
    background-image: url('/static/img/image.jpg');
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.post-image {
    float: left;
    margin-right: 20px;
}

.post-image img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.post-content {
    margin-bottom: 100px;
}
